$types: padding margin;
$list: top left bottom right;

@each $type in $types {
    @each $direction in $list {
        @for $i from 0 through 40 {
            $value: $i * 5;
            .#{$type}-#{$direction}-#{$value} {
                #{$type}-#{$direction}: #{$value}px;
            }
        }
    }
    @for $i from 0 through 40 {
        $value: $i * 5;
        .#{$type}-#{$value} {
            #{$type}: #{$value}px;
        }
    }
}

.font-1 {
    font-size: 32px;
    font-weight: bold;
}

.font-2 {
    font-size: 20px;
}

.font-3 {
    font-size: 18px;
}

.font-4 {
    font-size: 14px;
}

.font-5 {
    font-size: 12px;
}

.color-1 {
    color: black;
}

.color-2 {
    color: #4ca9e6;
}

.bg-color-1 {
    background-color: #e6ecf0;
}

.bg-color-2 {
    background-color: white;
}
