
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "utility";
@import "components";
@import "errors";

body {
    background: pink;
}

.header-img {
    overflow: hidden;
    height: 200px;
}
.header-img img {
    width: 100%;
    background-size: cover;
}

.data-bar {
    background-color: white;
    padding: 5px 0;
    padding-left: 35%;
}

.flex-container {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.data-counter-wrapper {

}

.data-counter {
    padding:0 10px;
    text-align: center;
}

.follow-button {
    // flex: 1;
    margin-right: 40px;
    border: 1px solid #666;
    border-radius: 20px;
    padding: 4px 20px;
    padding-top: 9px;
}

.data-counter-value {
    font-size: 120%;
    font-weight: bold;
}

.left-column {
    padding: 20px;
}

.user-name {
    font-size: 30px;
    font-weight: bold;
    color: black;
}

.user-images {
    margin-top: 20px;
}

.user-images img {
    width: 30%;
    margin: 0 3px 8px 0;
    padding: 0;
    border-radius: 7px;
}
